
/***************************/
/* header */
/***************************/

.header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    background-color:#ffe3e3;
/*becos we wanna make it sticky*/
    height:9.6rem;
    padding:0;
}
.logo{
    height:100px;
    padding: 0 3.2rem;
}
/***************************/
/* navigation */
/***************************/
.main-nav-list{
    list-style:none;
    display: flex;
    gap:3.2rem;
    align-items:center;
}
.main-nav-link:link,
.main-nav-link:visited{
    display:inline-block;
    text-decoration:none;
    color:#333;
    font-weight: 500;
    font-size: 1.8rem;
    transition: all 0.3s;
}
.main-nav-link:hover,
.main-nav-link:active{
    color:#800000;
}
.main-nav-link.nav-cta:link,
.main-nav-link.nav-cta:visited{
    background-color: #800000;
   
    padding: 1.2rem 2.4rem;
    border-radius:9px; 
    color:#fff;
  
    
}
.main-nav-link.nav-cta:hover,
.main-nav-link.nav-cta:active{
    background-color: #800000;    
}
/***************************/
/* hero section*/
/***************************/

.section-hero{
    background-color:#ffe3e3 ;
    padding: 4.8rem 0 9.6rem 0;
}


.hero{
    max-width: 130rem;
    margin:0 auto;
    padding:0 3.2rem;
    display:grid;
    grid-template-columns: 1fr 1fr;
    gap:9.6rem;
    align-items:center;
}

.hero-description{
    font-size:2rem;
    line-height: 1.6;
    margin-bottom: 4.8rem;
   
}

.hero-img{
    width:120%;
    height: 100%;
    

}

.delivered-meals{
    display:flex;
    align-items:center;
    gap:1.6rem;
    margin-top:8rem;
}
.delivered-imgs{
    display:flex;
   
}
.delivered-imgs img{
    height:4rem;
    width:4rem;
    border-radius: 50%;
    margin-right:-1.6rem;
    border:3px solid #ffe3e3;
}
.delivered-imgs img:last-child{
  margin:0; 

}
.delivered-text{
    font-size:1.8rem;
    font-weight:600;
}
.delivered-text span{
    color:#800000;
    font-weight:700;
}

/***************************/
/* logos*/
/***************************/
.section-featured{
    padding: 4.8rem 0 3.2rem 0;
}
.heading-featured-in{
    font-size: 1.4rem;
    text-transform: uppercase;
    letter-spacing: 0.75;
    font-weight: 500;
    text-align: center;
    margin-bottom: 2.4rem;
    color:#888;
}

.logos{
    display:flex;
    justify-content: space-between;
   
}
.logos img{
    height:3.2rem;
    filter:brightness(0);
    opacity: 50%;
}

/***************************/
/* how it works section*/
/***************************/

.section-how {
    padding:9.6rem 0;

}
.step-number{
    font-size: 8.6rem;
    font-weight:600;
    color:#ddd;
    margin-bottom: 1.2rem;
}
.step-description{
    font-size: 1.8rem;
    line-height: 1.8;
}
.step-img-box{
    position: relative;
  display:flex;
  align-items:center;
  justify-content: center;  
}

.step-img-box::before,
.step-img-box::after{
    content:"";
    display: block;
    border-radius: 50%;
    position:absolute;
    
    /*60 percent of parents width*/
 
    top:50%;
    left:50%;
    transform:translate(-50% ,-50%);
    
    
}
.step-img-box::before{
    
    width:60%;
    
    /*60 percent of parents width*/
    padding-bottom:60%;
    background-color:#ffe3e3;
    
    z-index: -2;
}
.step-img-box::after{
    width:45%;
    padding-bottom: 45%;
    background-color: #fff5f5;
    z-index: -1;
}

.step-img{
    width:33%;
}
/***************************/
/*meals section */
/***************************/
.section-meals {
    padding:5rem 0;

}
.meal-title{
    font-size:2.4rem;
    color:#333;
    font-weight: 600;
    margin-bottom: 3.2rem;
}
.meal-tags{
    margin-bottom: 1.2rem;
    /*display:flex;
    gap:0.4rem;*/
}

.meal-content{
    padding:3.2rem 4.8rem 4.8rem 4.8rem;
}
.tag{
    display: inline-block;
    padding:0.4rem 0.8rem;
    font-size:1.2rem;
    text-transform:uppercase;
    background-color: #51cf66;
    color:#555;
    border-radius: 100px;
    font-weight: 600;
}
.meal{
    border-radius:11px;
    box-shadow: 0 2.4rem 4.8rem rgba(0,0,0,0.075);
    overflow:hidden;
    transition:all 0.4s;
}
.meal:hover{
    transform: translateY(-1.2rem);
    box-shadow: 0 3.2rem 6.4rem rgba(0,0,0,0.006);
}
.meal-attributes{
list-style:none;
display:flex;
flex-direction:column;
gap:2rem;
font-size: 16px;
line-height:1.5;
}
.meal-attribute{
    font-size: 1.8rem;
    display:flex;
    flex-direction: center;
    gap:1.6rem;
}

.meal-icon{
    height:2.4rem;
    width:2.4rem;
    color:#e67e22;
}

.meal-img{
    width:100%;
}

.all-recipes{
text-align: center;
font-size: 1.8rem;
}
.vegan{
   background-color:#94d82d ;
}
.paleo{
    background-color: #ffd43b;
}

/***************************/
/*testimonials section */
/***************************/
.section-testimonials{
    display: grid;
    grid-template-columns: 55fr 45fr;
    background-color:#fff5f5 ;
    align-items: center;
}
.testimonials-container{
    padding:9.6rem;
    
}
.testimonials{
display:grid;
grid-template-columns: 1fr 1fr;
row-gap:4.8rem;
column-gap: 8rem;;
}
.testimonial-img{
    width: 6.4rem;
    border-radius: 50%;
    margin-bottom: 1.2rem;
}
.testimonial-text{
    font-size: 1.8rem;
    line-height: 1.8;
    margin-bottom:1.6rem;
}
.testimonial-name{
    font-size: 1.6rem;
    color:#6f6f6f;
}
.gallery{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    gap:1.6rem;
    padding:1.6rem;
    width: 700px;
    height: 700px;
    position: relative;
    
}
.gallery-item{
    overflow:hidden;
}
.gallery-item img{
    display:block;
    width:100%;
    transition: all 0.4s;
}
.gallery-item img:hover{
    transform: scale(1.1);
}
/***************************/
/*section-pricing */
/***************************/
.section-pricing{
    padding:9.6rem 0;
}
.pricing-plan--complete {
    background-color: #fdf2e9;
    padding:4.8rem;
    position: relative;
    overflow:hidden;
}
.pricing-plan{
     border-radius: 11px;
     width:75%;
}
.pricing-plan--starter{
    justify-self: end;
    border: 2px solid #fae5d3;
    padding:4.6rem;
}
.pricing-plan--complete::after {
    content:"best value";
    position: absolute;
    top:7%;
    right:-18%;
    color:#333;
    text-transform: uppercase;
    font-size: 1.4rem;
    font-weight: 700;
    background-color: #ffd43b;
    
    padding: 0.8rem 8rem;
    transform: rotate(45deg);
}
.plan-header{
    text-align: center;
    margin-bottom: 4.8rem;
}
.plan-name{
 color:#cf711f;
 font-weight: 600;
 font-size: 2rem;
 text-transform: uppercase;
 letter-spacing:0.75 ;
 margin-bottom: 3.2rem;
}
.plan-price{
font-size: 6.2rem;
font-weight: 600;
color:#6f6f6f;
margin-bottom: 1.6rem;
}
.plan-price span{
    font-size:3rem;
    font-weight: 500;
    margin-right: 0.8rem;
}
.plan-text{
font-size: 1.6rem;
line-height: 1.6;
}
.plan-sign-up{
 text-align:center;
 margin-top: 4.8rem;
}
.plan-details{
    font-size: 1.6rem;
    line-height: 1.6;
    text-align: center;
}
.feature-icon{
color: #800000;
height: 3.2rem;
width: 3.2rem;
background-color:#fff5f5;
padding:1.6rem;
border-radius: 50%;
margin-bottom:3.2rem ;
}

.feature-title{
font-size: 2.4rem;
color:#333;
font-weight: 700;
margin-bottom: 1.6rem;
    }
.feature-text{
font-size: 1.8rem;
line-height: 1.8;
 }
/***************************/
/*section-cta */
/***************************/
.section-cta{
    padding:4.8rem 0 12.8rem 0;
    

}
.cta{
    display: grid;
    grid-template-columns: 2fr 1fr;
    background-color: #800000;
    box-shadow: 0 2.4rem 2.4rem rgba(0,0,0,0.08);
    border-radius: 11px;
     
    
} 
.cta-img-box{
    background-image: linear-gradient( 
         to right bottom, 
    rgba(235, 78, 78, 0.35),
    rgba(230, 34, 34, 0.35)),
    url("../img2/drama.jpg");
    background-size: cover;
    background-position:center;
}
.cta .heading-secondary{
    color:#fff;
    margin-bottom: 3.2rem;
}
.cta-text-box{
    padding: 4.8rem 6.4rem 6.4rem 6.4rem;
    color:#fff;
}
.cta-text{
font-size:1.8rem;
line-height: 1.8;
margin-bottom: 4.8rem;
}
.cta-form{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap:3.2rem;
    row-gap: 2.4rem;
}
.cta-form label{
 display: block;
 font-size:1.6rem;
 font-weight: 500;
 margin-bottom: 1.6rem;
}
.cta-form input,
.cta-form select
{
 width:100%;
 padding:1.2rem;
 font-size: 1.8rem;
 font-family: inherit;
 border:none;
 background-color: #fdf2e9;
 border-radius:9px;
 box-shadow: 0 2px 3px rgba(0,0,0,0.01);
 color: inherit;
}

.cta-form input::placeholder{
 color:#aaa;
}

.cta-form button{
 border:none;
 font-family:inherit;
 background-color: #331832;
 cursor: pointer;
 color:#fdf2e9;
 align-self: end;
 padding:1.2rem;
 transition: all 0.6s;
}
.cta-form button:hover{
 background-color: #3318324f;
 
    
}
.cta *:focus{
    outline:none;
    box-shadow: 0 0 0 1rem rgba(253, 233, 233, 0.867);
}
/***************************/
/*section-footer */
/***************************/
.footer{
    padding:12.8rem 0;
    background-color: #ffe3e3;
}
.logo-1{
    height:100px;
    
}
.grid--footer{
    grid-template-columns: 1.5fr 1.5fr 1fr 1fr 1fr;
}

.logo-col{
    display:flex;
    flex-direction: column;

}

.footer-logo{
    display:block;
    margin-bottom: 3.2rem;
}
.social-links{
    list-style: none;
    display:flex;
    gap:2.4rem;

}
.social-icon{
    height:2.4rem;
    width: 2.4rem;
    margin-top: 2.4rem;
}
.copyright{
    font-size: 1.4rem;
    color:#767676;
    line-height: 1.6;
    margin-top: 4.5rem
    
}
.contacts{
    line-height: 1.6;
    font-style:normal ;
    font-size: 1.6rem;
}
.address{
    margin-bottom: 2.4rem;
}

.footer-heading{
    font-size: 1.8rem;
    font-weight: 500;
    margin-bottom: 4rem;
}
.footer-nav{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap:2.4rem;
}
.footer-link:visited,
.footer-link:link{
    list-style:none;
    text-decoration: none;
    font-size: 1.6rem;
    color:#767676;
    transition:all 0.3s;
}
.footer-link:hover,
.footer-link:active{
    color:#555;
}